.value_wrapper {
    .v_container {
        &>div {
            flex: 1;
        }

        .v_left {
            .image_container {
                width: 30rem;
                height: 35rem;
                overflow: hidden;
                border-radius: 15rem  15rem 0 0;
                border: 8px solid rgba(0, 0, 0, 0.12);

                img {
                    width: 100%;
                    height: 100%;
                }

                @media screen and (max-width:640px){
                    width: 95%;
                    height: 25rem;
                  }
            }

            @media screen and (max-width:640px){
                width: 100%;
              }
        }

        .v_right {
            gap: 0.5rem;

            .accordion {
                margin-top: 2rem;
                border: none;

                .accordionItem {
                    background: white;
                    border: 0.8px solid rgba(128, 128, 128, 0.143);
                    overflow: hidden;
                    border-radius: 10px;
                    margin-bottom: 20px;
                    box-shadow: var(--shadow);
                    border-radius: 6px;

                    
                    .accordionHeading {
                        .accordionButton {
                            display: flex;
                            flex-direction: row;
                            text-align: center;
                            background: white;
                            padding: 0.5rem;
                            width: 100%;
                            justify-content: space-between;
                            cursor: pointer;

                            .icon {
                                padding: 10px;
                                background: #eeeeff;
                                border-radius: 5px;

                                svg {
                                    fill: var(--yellow);
                                }
                            }

                            .primaryText {
                                font-size: 1.1rem;
                            }
                        }
                    }
                }
            }
        }
        
        @media screen and (max-width:1204px){
            flex-direction: column;
          }
    }
}